table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 1000px;

  th {
    height: 30px;
    font-size: 18px;
  }

  td {
    height: 80px;
    width: 160px;
    text-align: center;
    vertical-align: middle;

    button {
      background-color: #45a29e;
      border: none;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
