.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  button {
    padding: 10px;
    border: none;
    font-size: 18px;
    color: #66fcf1;
    background-color: #1f2833;
    cursor: pointer;
    transition: 0.5s all ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
